#actions .row{
  margin-right: auto;
}

.action-btn{
  margin-right: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.badge {
  margin-right: 5px; 
}
body{
  background-color: darkslategrey !important;
}

.btn{
  border-radius: 0px !important;
}

.container{
  background-color: whitesmoke
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.conduit-group{
  display:inline-block;
  margin-right: 20px; 
}
.conduit-section{
  border-bottom:2px solid #ccc;
  padding-top: 10px;
}
.conduit-comment div{
  display:inline-block;
}
.conduit-comment .actions{
  display: block;
}

.conduit-tags{
  list-style: none;
}
.conduit-tags li{
  display:inline-block;
  margin-right: 1em;
}

.create-input {
  width:80%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form{
  padding-bottom: 10px;
}

.form-col{
  margin-left:10px !important;
}

.form-control, .form-select {
  border-radius: 0 !important;
}


.header{
  font-size: x-large;
  font-weight: 600;
  line-height: 1.5em;
  padding: 10px;
  background-color: dimgray;
  vertical-align: middle;
}
.header img{
  width:45px;
  height: 45px;
} 
.header div{
  padding-top:5px;
  display: inline-block;
}

.invalid .form-control:invalid{
  border:1px red inset;
}


.img-preview-wrapper{
  width:100%;
  height:auto;
  min-height: 200px;
  box-sizing: border-box;
  padding: 10px;
  
}

.img-preview-wrapper{
  width:100%;
  height:auto;
  min-height: 200px;
  box-sizing: border-box;
  padding: 10px;
  
}

.img-preview{
  background-position: center;
  background-size: 180px;
  background-image: url('person-vcard-fill.svg');
  background-repeat: no-repeat;
  border: 2px solid grey;
  border-radius: 15px;
}


.img-loading.img-preview{
  background-image: none;
}


.img-preview.ID{
  max-height: 350px;
}

.img-preview.ID .id-img-holder{
  max-height: 300px;
  clip-path: inset(5px 5px 5px 5px);
}

.img-preview.ID .id-btn-holder div{
  margin: 0 auto;
  display: inline-block;
  width: auto;
  text-align: center;
}

.img-loading.img-preview.selfy{
  background-image:none;
}

.img-preview.selfy{
  background-image: url('person-bounding-box.svg');
}


.img-preview img{
  width:100%;
}
.img-preview img.showing{
  visibility: visible;
}

.img-load-spinner{
  width: 100px !important;
  height: 100px !important;
  margin-top:50%;
}


/** Forms **/

.form-control:invalid{
  border-color: red;
}

.loading-holder{
  vertical-align: middle;
  text-align: center;
  min-height: 800px;

}

.loading-spinner{
  background-color: red;
}



/** Modal **/

.check-modal{
  max-width: 80% !important;
}

.check-modal .modal-dialog .modal-content{
  max-height: 800px;
  overflow-y: scroll;
}

.check-modal.modal.show .modal-body{
  text-align: center;
}
/* 
.modal-body {
  padding: 5px;
  overflow-x: scroll;
  overflow-y: scroll;
} */

.nav{
  display: inline-block;
}

.nav-itm{
  font-size: larger;
  display: inline-block;
  margin-right: 20px;
}

.nav-itm a{
  border-radius: 0 !important;
  vertical-align: middle;
  
}

.nav div{
  padding: 0 10px;
  margin-right: 20px;
}

.new-voter{
  background-color: gray;
}

.new-voter.container-md{
  background-color: beige;
}

.modal-dialog.receiver-dialog{
  width: 100% !important;
  margin: 0 auto;
}

#receiverForm.error input{
  border: 1px red; 
}

.receiver-dialog{
  font-size: small;
}

.receiver-dialog .modal-header{
  padding: 10px; 
}

.receiver-title{
  /* font-size: 1em !important; */
}

.sourcerer{

}
.sourcerer-container{
  display: block;
}

.sourcerer-container.hide{
  display: none; 
}

.sourcerer h3{
  margin-top: 20px;
}
.sourcerer-output{
  margin-top:20px;
  padding: 1em;
  background-color: #282c34;
  height: 500px;
}
.sourcerer-main-output{
  background-color: darkgray;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.sourcerer-image{
  width: 100px;
}
.sourcerer-image img{
  width: 100px;
}

.sourcerer-output textarea{
  width: 100%;
  height: 500px; 
}

.sourcerer-input{
  width: 90%;
  height: 100px; 
}

.sourcerer-input .btn{
  width: 100%;
  vertical-align: top;
}

.sourcerer-toggle img{
  width: 30px; 
}
.tag-btn{
  margin-right: 8px;
}


.tester {
  background-color: green;
}

.tester2{
  background-color: blue;
}

.topic-selected{
  border: 2px solid white !important;
  box-sizing: border-box;
  font-weight: bold !important;
}
.topic-unselected{
  border: none !important;
  opacity: 0.6 !important;
  font-weight: lighter !important;

}
